@import 'reset-css';
@import './stylesheet';
@import './variable';

body {
	font-family: $mainFontsFamily;
	background-color: $mainBackground;
	color: $mainColor;

	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	overflow: hidden;
	width: 480px;
	height: 750px;
	border: 1px solid #ececec;
	border-radius: 12px;
	padding: 30px;
}

h1 {
	text-align: center;
	font-size: 36px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	svg {
		width: 25px;
		height: 25px;
	}
}

.navigation__search {
	position: relative;
	width: 350px;
}

.navigation__search input {
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	height: 45px;
	font-size: 14px;
	padding: 2px 15px 0;
	color: #000;
	border: 0 transparent;
	outline: none;
	font-weight: 100;

	&::-webkit-input-placeholder {
		/* WebKit, Blink, Edge */
		color: #ccc;
		font-size: 14px;
		font-weight: 100;
	}
	&:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #ccc;
		font-size: 14px;
		font-weight: 100;
		opacity: 1;
	}
	&::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #ccc;
		font-size: 14px;
		font-weight: 100;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #ccc;
		font-size: 14px;
		font-weight: 100;
	}
	&::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #ccc;
		font-size: 14px;
		font-weight: 100;
	}
	&::placeholder {
		/* Most modern browsers support this now. */
		color: #ccc;
		font-size: 14px;
		font-weight: 100;
	}
}

.navigation__search-btn {
	background: transparent;
	border: 0 transparent;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.navigation__search-btn svg {
	width: 40px;
	height: 20px;
	color: #ccc;
}
