.notification {
	svg {
		width: 25px;
		height: 25px;
		transition: transform 0.3s cubic-bezier(0.6, -0.37, 0.27, 1.55);
	}

	&:hover {
		cursor: pointer;
		svg {
			transform: rotate(27deg);
		}
	}
}
