.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.1875rem;
}

.brand {
	text-align: center;
	font-size: 2.25rem;
	position: relative;
	text-transform: uppercase;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 5px;
		left: -10px;
		bottom: 0;
		width: 0;
		background: #eacf53;
		height: 3px;
		margin: auto 0;
		transition: width 0.25s cubic-bezier(0.6, -0.28, 0.74, 0.05);
	}

	&:hover::before {
		width: 7.7rem;
	}
}
